* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    cursor: none;
	opacity: 1;
	transition: opacity 1s ease-in-out; 
	/*background-image: url(../img/bg.jpg);*/
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
body.loaded {
    opacity: 1;
}
body:hover #cursor{
	opacity: 1;
}
::-webkit-scrollbar{
	width: 12px;
	background-color: #201c21;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent, #cc00ff);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(transparent, #0040ff);
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
#container{
	position: fixed;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
	transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 5px rgb(140, 0, 255);
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
	transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 5px rgb(187, 0, 255);
}
.text-block__p {
	line-height: 1.75;
}
.contact-link {
    position: fixed;
	width: 5%;
	height: 50px;
	left: 7%;
    font-size: 3rem;
    color: white;
	text-transform: uppercase;
    border: none;
    border-radius: 4px;
	margin-top: 50px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 50px rgb(209, 4, 255);
	text-decoration: none;
}

.langs {
    position: fixed;
    top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.langs a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 50px rgb(209, 4, 255);
}

.langs a:hover {
    color: #a43fae;
    text-shadow: 0 0 50px rgba(51, 0, 255, 0.8); 
}
#cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px #ffd6cc, 0 0 15px #c3c2c2, 0 0 30px #dbdbdb, 0 0 60px #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s, background 0.5s;
    z-index: 5000; /* Ensure the cursor is above other elements */
  }

  @media screen and (max-width:1100px) {
	.gallery {
		flex-direction: column;
		padding: 5%;
	}
	.main-title {
		font-size: calc(var(--index) * 5);
	}
	.hero {
		width: calc(var(--index) * 26);
	}
  }